@font-face {
  font-family: "iconfont";
  /* Project id 2592075 */
  src: url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.woff2?t=1624967358732') format('woff2'), url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.woff?t=1624967358732') format('woff'), url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.ttf?t=1624967358732') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close::before {
  content: "\e697";
}
.icon-narrow::before {
  content: "\e600";
}
.icon-screen::before {
  content: "\e643";
}
.icon-success:before {
  content: "\e6c8";
  color: #1fb832;
}
.icon-error:before {
  content: "\ea32";
  color: #f1534a;
}
.icon-warning:before {
  content: "\e62d";
  color: #eead28;
}
.icon-copy:before {
  content: "\e607";
}
.icon-success-tick:before {
  content: "\e610";
  color: #3cff19;
}
.icon-yasuobao:before {
  content: "\e7b4";
}
.icon-shezhi:before {
  content: "\e603";
}
.icon-refresh:before {
  content: "\e608";
}
.icon-open-blank:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e697";
}
.icon-xiangyou:before {
  content: "\e625";
}
.icon-shouqi:before {
  content: "\e61a";
}
.icon-help:before {
  content: "\e712";
}
.icon-front::before {
  content: "\e9af";
}
.icon-after::before {
  content: "\e602";
}
.icon-reload::before {
  content: "\e60e";
}
.icon-battery::before {
  content: "\e604";
}
.icon-signal::before {
  content: "\e61f";
}
.icon-wifi::before {
  content: "\e606";
}
.icon-more::before {
  content: "\e601";
}
.icon-wechat-close::before {
  content: "\e652";
}
.icon-zhankai:before {
  content: "\e62c";
}
.icon-github:before {
  content: "\e605";
}
.icon-back:before {
  content: "\e66c";
}
.macWin {
  position: relative;
  z-index: 1;
  border-radius: 8px;
}
.macWin.full-screen,
.macWin.full-screen-ipx {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%!important;
  z-index: 999;
}
.macWin.full-screen-ipx {
  height: auto!important;
  bottom: 20px;
}
.macWin.full-screen {
  height: 100%!important;
}
.macWin.full-narrow {
  min-height: 40px!important;
}
.macWin.full-narrow .win-body {
  height: 0!important;
  overflow: hidden;
  position: relative;
  display: none;
}
.macWin .win-header {
  height: 20px;
  background: #3c3c3c;
  border-radius: 8px 8px 0 0;
}
.macWin .win-header .win-title {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
}
.macWin .win-header .win-handle {
  display: flex;
  height: 12px;
  position: absolute;
  left: 10px;
  top: 4px;
  justify-content: space-between;
}
.macWin .win-header .win-handle i {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
.macWin .win-header .win-handle i::before {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  font-size: 12px;
  font-style: normal;
  color: #161819;
  text-align: center;
  opacity: 0.6;
  transform: scale(0.6);
}
.macWin .win-header .win-handle .icon-close {
  background-image: linear-gradient(#FF5F56, #E0443E);
}
.macWin .win-header .win-handle .icon-narrow {
  background-image: linear-gradient(#FFBD2E, #DEA123);
}
.macWin .win-header .win-handle .icon-screen {
  background-image: linear-gradient(#27C93F, #1AAB29);
}
.macWin .win-header .win-handle .icon-screen::before {
  content: "\e643";
  transform: scale(0.8);
  opacity: 0.6;
}
.macWin .win-header .win-handle:hover .icon-close::before,
.macWin .win-header .win-handle:hover .icon-narrow::before,
.macWin .win-header .win-handle:hover .icon-screen::before {
  display: block;
}
.macWin .win-header .top-right {
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
}
.macWin .win-body {
  padding-bottom: 20px;
}
.macWin .win-footer {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #3a3a3a;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  z-index: 99;
}
.macWin .win-footer > .left {
  display: flex;
}
.macWin .win-footer > .right {
  display: flex;
}
.macWin .tool-container {
  width: 20px;
  height: 20px;
  position: relative;
}
.macWin .tool,
.macWin .tool-move {
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #a0abb8;
  position: relative;
}
.macWin .tool:hover,
.macWin .tool-move:hover {
  cursor: pointer;
  color: #fff;
  background: #565656;
}
.macWin .tool i,
.macWin .tool-move i {
  width: 20px;
  text-align: center;
  transition: top 0.2s ease;
  position: absolute;
  left: 0;
  display: block;
  font-size: 12px;
}
.macWin .tool i.tool-close,
.macWin .tool-move i.tool-close {
  color: #f1534a;
}
.macWin .tool-move {
  overflow: hidden;
}
.macWin .tool-move .tool-close {
  color: #f1534a;
}
.macWin .tool-move .tool-main {
  top: 0;
}
.macWin .tool-move .tool-success-tick {
  top: 20px;
}
.macWin .tool-move .tool-close {
  top: 20px;
}
.macWin .tool-move.tool-success .tool-main {
  top: -20px;
}
.macWin .tool-move.tool-success .tool-success-tick {
  top: 0;
}
.macWin .tool-move.tool-error .tool-main {
  top: -20px;
}
.macWin .tool-move.tool-error .tool-close {
  top: 0;
}

.api-doc {
  background: #252829;
  overflow: hidden;
}
.api-doc .api-main {
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.api-doc .api-main.hide {
  height: 80px;
  overflow: hidden;
}
.api-doc .field {
  padding-top: 20px;
}
.api-doc .table-container {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.api-doc .table-container .table {
  font-size: 14px;
  background: #424242;
  border-radius: 3px;
  color: #a5a5a5;
  word-break: keep-all;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}
.api-doc .table-container .table > thead {
  font-weight: bold;
}
.api-doc .table-container .table > thead > tr {
  background: #585858;
}
.api-doc .table-container .table tr {
  padding: 5px 10px;
  text-align: left;
}
.api-doc .table-container .table tr:nth-of-type(even) {
  background: #424242;
}
.api-doc .table-container .table tr td {
  color: #a5a5a5;
  padding: 5px 10px;
}
.api-doc .table-container .table tbody tr:hover {
  background: white;
  color: #333;
}
.api-doc .api-title {
  padding: 10px;
  color: #a5a5a5;
  font-size: 14px;
  margin: 0;
}
.api-doc .api-header {
  font-size: 14px;
}
.api-doc .api-request {
  display: flex;
  margin: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;
  background: #424242;
  color: #a5a5a5;
}
.api-doc .api-request > .method {
  padding: 5px 10px;
  box-sizing: border-box;
  border-right: 3px solid #252829;
}
.api-doc .api-request > .url {
  padding: 5px 10px;
  flex: 1;
  border-radius: 0 3px 3px 0;
  overflow-y: hidden;
  overflow-x: auto;
}
.api-doc .api-request > .url:hover {
  background: white;
  color: #666;
  cursor: pointer;
}
.api-doc .text {
  padding-top: 20px;
}
.api-doc .text .content {
  padding: 0 10px;
  font-size: 12px;
  color: #a5a5a5;
}
.api-doc .text .json {
  border-radius: 3px;
  margin: 0 10px;
  background: white;
  padding: 20px 10px;
  box-sizing: border-box;
  overflow: auto;
}
.api-doc .text .json pre {
  margin: 0;
  color: #252829;
}

.tool-container .help-container {
  width: 150px;
  height: 100px;
  position: absolute;
  left: -130px;
  top: -100px;
  background: #464646;
  z-index: 1000;
  border-radius: 3px 3px 0 0;
  font-size: 12px;
  padding: 10px 20px;
  box-sizing: border-box;
  display: none;
  color: #999;
  box-shadow: -3px -3px 5px -3px rgba(0, 0, 0, 0.3);
}
.tool-container .help-container > h3 {
  color: #999;
  font-size: 18px;
  margin: 0;
}
.tool-container .help-container > p {
  font-size: 12px;
}

@-webkit-keyframes twinkle {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes twinkle {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
@font-face {
  font-family: "iconfont";
  /* Project id 2592075 */
  src: url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.woff2?t=1624967358732') format('woff2'), url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.woff?t=1624967358732') format('woff'), url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.ttf?t=1624967358732') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close::before {
  content: "\e697";
}
.icon-narrow::before {
  content: "\e600";
}
.icon-screen::before {
  content: "\e643";
}
.icon-success:before {
  content: "\e6c8";
  color: #1fb832;
}
.icon-error:before {
  content: "\ea32";
  color: #f1534a;
}
.icon-warning:before {
  content: "\e62d";
  color: #eead28;
}
.icon-copy:before {
  content: "\e607";
}
.icon-success-tick:before {
  content: "\e610";
  color: #3cff19;
}
.icon-yasuobao:before {
  content: "\e7b4";
}
.icon-shezhi:before {
  content: "\e603";
}
.icon-refresh:before {
  content: "\e608";
}
.icon-open-blank:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e697";
}
.icon-xiangyou:before {
  content: "\e625";
}
.icon-shouqi:before {
  content: "\e61a";
}
.icon-help:before {
  content: "\e712";
}
.icon-front::before {
  content: "\e9af";
}
.icon-after::before {
  content: "\e602";
}
.icon-reload::before {
  content: "\e60e";
}
.icon-battery::before {
  content: "\e604";
}
.icon-signal::before {
  content: "\e61f";
}
.icon-wifi::before {
  content: "\e606";
}
.icon-more::before {
  content: "\e601";
}
.icon-wechat-close::before {
  content: "\e652";
}
.icon-zhankai:before {
  content: "\e62c";
}
.icon-github:before {
  content: "\e605";
}
.icon-back:before {
  content: "\e66c";
}
.browser {
  background: white;
  box-shadow: 0 12px 5px -10px rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.browser .browser-handle {
  width: 100%;
  display: block;
  background: #17191a;
  display: flex;
}
.browser .browser-handle .browser-reload {
  width: 70px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.browser .browser-handle .browser-reload i {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 100%;
  text-align: center;
  color: white;
}
.browser .browser-handle .browser-reload i:hover {
  color: #fff;
  background-color: #2f2e2e;
}
.browser .browser-handle .browser-url {
  padding: 6px 10px;
  box-sizing: border-box;
  width: 100%;
}
.browser .browser-handle .browser-url input[name="url"] {
  height: 22px;
  line-height: 22px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  color: #666;
  outline: none;
  display: block;
  width: calc(100% - 30px);
}
.browser .browser-handle .browser-url input[name="url"]:focus {
  border: none;
}
.browser .browser-body {
  position: relative;
  color: #666;
  height: 100%;
}
.browser .browser-body .iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.browser .browser-body .page-404 h1 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0 10px;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #666;
}
.browser .browser-body .page-404 p {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #999;
}

/*!
  Theme: Railscasts
  Author: Ryan Bates (http://railscasts.com)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.05.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme railscasts
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #2b2b2b  Default Background
base01  #272935  Lighter Background (Used for status bars, line number and folding marks)
base02  #3a4055  Selection Background
base03  #5a647e  Comments, Invisibles, Line Highlighting
base04  #d4cfc9  Dark Foreground (Used for status bars)
base05  #e6e1dc  Default Foreground, Caret, Delimiters, Operators
base06  #f4f1ed  Light Foreground (Not often used)
base07  #f9f7f3  Light Background (Not often used)
base08  #da4939  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #cc7833  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #ffc66d  Classes, Markup Bold, Search Text Background
base0B  #a5c261  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #519f50  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #6d9cbe  Functions, Methods, Attribute IDs, Headings
base0E  #b6b3eb  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #bc9458  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/
pre {
  color: #e6e1dc;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #e6e1dc;
  background: #2b2b2b;
}
.hljs ::-moz-selection {
  color: #3a4055;
}
.hljs ::selection {
  color: #3a4055;
}
/* purposely do not highlight these things */
/* base03 - #5a647e -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: #5a647e;
}
/* base04 - #d4cfc9 -  Dark Foreground (Used for status bars) */
.hljs-tag {
  color: #d4cfc9;
}
/* base05 - #e6e1dc -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #e6e1dc;
}
.hljs-operator {
  opacity: 0.7;
}
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #da4939;
}
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #cc7833;
}
/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #ffc66d;
}
.hljs-strong {
  font-weight: bold;
  color: #ffc66d;
}
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #a5c261;
}
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #519f50;
}
/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #6d9cbe;
}
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #b6b3eb;
}
.hljs-emphasis {
  color: #b6b3eb;
  font-style: italic;
}
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #bc9458;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold;
}

/*!
  Theme: Railscasts
  Author: Ryan Bates (http://railscasts.com)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.05.0
*/
/*
  WARNING: DO NOT EDIT THIS FILE DIRECTLY.

  This theme file was auto-generated from the Base16 scheme railscasts
  by the Highlight.js Base16 template builder.

  - https://github.com/highlightjs/base16-highlightjs
*/
/*
base00  #2b2b2b  Default Background
base01  #272935  Lighter Background (Used for status bars, line number and folding marks)
base02  #3a4055  Selection Background
base03  #5a647e  Comments, Invisibles, Line Highlighting
base04  #d4cfc9  Dark Foreground (Used for status bars)
base05  #e6e1dc  Default Foreground, Caret, Delimiters, Operators
base06  #f4f1ed  Light Foreground (Not often used)
base07  #f9f7f3  Light Background (Not often used)
base08  #da4939  Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09  #cc7833  Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A  #ffc66d  Classes, Markup Bold, Search Text Background
base0B  #a5c261  Strings, Inherited Class, Markup Code, Diff Inserted
base0C  #519f50  Support, Regular Expressions, Escape Characters, Markup Quotes
base0D  #6d9cbe  Functions, Methods, Attribute IDs, Headings
base0E  #b6b3eb  Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F  #bc9458  Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
*/
pre {
  color: #e6e1dc;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #e6e1dc;
  background: #2b2b2b;
}
.hljs ::-moz-selection {
  color: #3a4055;
}
.hljs ::selection {
  color: #3a4055;
}
/* purposely do not highlight these things */
/* base03 - #5a647e -  Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: #5a647e;
}
/* base04 - #d4cfc9 -  Dark Foreground (Used for status bars) */
.hljs-tag {
  color: #d4cfc9;
}
/* base05 - #e6e1dc -  Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #e6e1dc;
}
.hljs-operator {
  opacity: 0.7;
}
/* base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #da4939;
}
/* base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #cc7833;
}
/* base0A - Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #ffc66d;
}
.hljs-strong {
  font-weight: bold;
  color: #ffc66d;
}
/* base0B - Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #a5c261;
}
/* base0C - Support, Regular Expressions, Escape Characters, Markup Quotes */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #519f50;
}
/* base0D - Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #6d9cbe;
}
/* base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #b6b3eb;
}
.hljs-emphasis {
  color: #b6b3eb;
  font-style: italic;
}
/* base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #bc9458;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
body {
  font-size: 14px;
  letter-spacing: 0.2px;
}
li {
  list-style: none;
}
.contrary {
  transform: rotate(180deg);
}
@-webkit-keyframes twinkle {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes twinkle {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.cursor {
  width: 2px;
  height: 10px;
  display: inline-block;
  background: #666;
  -webkit-animation: twinkle 1s infinite steps(1, start);
          animation: twinkle 1s infinite steps(1, start);
}
.editor {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
  background-color: #252829;
}
.editor .editor-left {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 130px;
  background: #2b2b2b;
  padding: 8px 0;
  box-sizing: border-box;
  display: none;
  overflow: auto;
  transition: width 0.3s;
}
.editor .editor-left .dir-tree {
  width: 130px;
}
.editor .editor-right {
  position: relative;
  height: 100%;
  transition: margin 0.3s;
}
.editor .editor-right .open-file {
  width: 100%;
  background: #1f1f1f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 不允许复制 */
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
  padding: 0;
  position: relative;
}
.editor .editor-right .open-file.hide-open-file {
  display: none;
}
.editor .editor-right .open-file li {
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  padding: 0 10px;
  cursor: pointer;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}
.editor .editor-right .open-file li .file-icon {
  width: 13px;
  margin-right: 3px;
  vertical-align: text-top;
}
.editor .editor-right .open-file li .icon-close {
  font-size: 12px;
  opacity: 0;
  padding: 3px;
  border-radius: 2px;
  margin-left: 3px;
}
.editor .editor-right .open-file li .icon-close:hover {
  background: #4e5052;
}
.editor .editor-right .open-file li.active {
  background: #252829;
}
.editor .editor-right .open-file li.active .icon-close {
  opacity: 1;
}
.editor .editor-right .open-file li:hover {
  background: #3f4244;
}
.editor .editor-right .open-file li:hover .icon-close {
  opacity: 1;
}
.editor .editor-right .open-file li.del .name {
  text-decoration: line-through;
}
.editor .editor-right .open-file li.del .exist {
  color: #5f5f5f;
  transform: scale(0.8);
  display: inline-block;
}
.editor .editor-right .editor-loading {
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  z-index: 999;
}
.editor .editor-right .editor-loading .loading-content {
  position: absolute;
  width: 100%;
  top: 20px;
}
.editor .editor-right .editor-loading .icon-loading {
  color: #fff;
  font-size: 20px;
  display: block;
  margin-top: 20px;
}
.editor .editor-right .editor-loading .icon-loading:before {
  content: "\e61c";
  display: block;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.editor .editor-right .editor-loading .prompt {
  display: block;
  margin-top: 5px;
  color: #afafaf;
}
.editor .editor-right .code-region {
  font-size: 12px;
  line-height: 18px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.editor .editor-right .code-region .code-number-container {
  width: 35px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #252829;
}
.editor .editor-right .code-region .code-number-container .code-number {
  width: 35px;
  font-size: 12px;
  padding: 0;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* 不允许复制 */
  color: #666;
  font-variant-numeric: tabular-nums;
}
.editor .editor-right .code-region .code-number-container .code-number li {
  width: 35px;
  height: 18px;
  line-height: 18px;
}
.editor .editor-right .code-region .code-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 38px;
  width: 100%;
  z-index: 1;
}
.editor .editor-right .code-region .code-container pre {
  display: table-cell;
}
.editor .editor-right .code-region .code-container .code-line {
  height: 18px;
  padding: 0 5px;
  box-sizing: border-box;
}
.editor .editor-right .code-region .code-container .code-line:hover {
  background: #383838;
}
.editor .editor-right .code-region.hide-number .code-number-container {
  display: none;
}
.editor .editor-right .code-region.hide-number .code-container {
  padding-left: 0;
}
.editor .editor-right .code-region .empty-file {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
}
.editor.project .editor-right {
  margin-left: 130px;
}
.editor.project .editor-left {
  display: block;
}
.editor .win-body.hide-menu .editor-left {
  width: 0;
}
.editor .win-body.hide-menu .editor-right {
  margin-left: 0;
}

.cursor {
  width: 2px;
  height: 10px;
  display: inline-block;
  background: #666;
  -webkit-animation: twinkle 1s infinite steps(1, start);
          animation: twinkle 1s infinite steps(1, start);
}

.message {
  position: fixed;
  left: 50%;
  top: 20px;
  padding: 10px 16px;
  background: red;
  font-size: 12px;
  border-radius: 5px;
  background: white;
  color: #666;
  -webkit-animation: messageShow 0.3s;
          animation: messageShow 0.3s;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  line-height: 15px;
  z-index: 9999;
}
.message.hide {
  -webkit-animation: messageHide 0.3s;
          animation: messageHide 0.3s;
}
.message i {
  margin-right: 5px;
  vertical-align: middle;
}
@-webkit-keyframes messageShow {
  from {
    top: -50px;
  }
}
@keyframes messageShow {
  from {
    top: -50px;
  }
}
@-webkit-keyframes messageHide {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -50px;
    opacity: 0;
  }
}
@keyframes messageHide {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -50px;
    opacity: 0;
  }
}

@font-face {
  font-family: "iconfont";
  /* Project id 2592075 */
  src: url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.woff2?t=1624967358732') format('woff2'), url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.woff?t=1624967358732') format('woff'), url('//at.alicdn.com/t/font_2592075_agej0gt6n4u.ttf?t=1624967358732') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close::before {
  content: "\e697";
}
.icon-narrow::before {
  content: "\e600";
}
.icon-screen::before {
  content: "\e643";
}
.icon-success:before {
  content: "\e6c8";
  color: #1fb832;
}
.icon-error:before {
  content: "\ea32";
  color: #f1534a;
}
.icon-warning:before {
  content: "\e62d";
  color: #eead28;
}
.icon-copy:before {
  content: "\e607";
}
.icon-success-tick:before {
  content: "\e610";
  color: #3cff19;
}
.icon-yasuobao:before {
  content: "\e7b4";
}
.icon-shezhi:before {
  content: "\e603";
}
.icon-refresh:before {
  content: "\e608";
}
.icon-open-blank:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e697";
}
.icon-xiangyou:before {
  content: "\e625";
}
.icon-shouqi:before {
  content: "\e61a";
}
.icon-help:before {
  content: "\e712";
}
.icon-front::before {
  content: "\e9af";
}
.icon-after::before {
  content: "\e602";
}
.icon-reload::before {
  content: "\e60e";
}
.icon-battery::before {
  content: "\e604";
}
.icon-signal::before {
  content: "\e61f";
}
.icon-wifi::before {
  content: "\e606";
}
.icon-more::before {
  content: "\e601";
}
.icon-wechat-close::before {
  content: "\e652";
}
.icon-zhankai:before {
  content: "\e62c";
}
.icon-github:before {
  content: "\e605";
}
.icon-back:before {
  content: "\e66c";
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
body {
  font-size: 14px;
  letter-spacing: 0.2px;
}
li {
  list-style: none;
}
.contrary {
  transform: rotate(180deg);
}
.mobile {
  width: 375px;
  height: 800px;
  border-radius: 42px;
  border: 10px solid black;
  position: relative;
  transform-origin: 0 0;
}
.mobile .sound-plus,
.mobile .sound-reduce,
.mobile .mute {
  position: absolute;
  height: 40px;
  width: 5px;
  background: black;
  border-radius: 3px 0 0 3px;
  left: -15px;
  cursor: pointer;
}
.mobile .sound-plus {
  top: 120px;
}
.mobile .sound-reduce {
  top: 170px;
}
.mobile .mute {
  height: 20px;
  top: 80px;
  left: -13px;
}
.mobile .ip-start {
  position: absolute;
  width: 5px;
  right: -15px;
  top: 100px;
  height: 80px;
  background: black;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.mobile .ipx-transverse {
  height: 5px;
  width: 80%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -40%;
  background: rgba(103, 103, 103, 0.45);
  border-radius: 5px;
  display: none;
  z-index: 1111;
}
.mobile .mobile-top {
  position: relative;
  height: 20px;
  line-height: 15px;
  background: white;
}
.mobile .mobile-top .icon-battery {
  position: absolute;
  right: 15px;
  bottom: 2px;
  font-size: 16px;
}
.mobile .mobile-top .icon-wifi {
  position: absolute;
  left: 83px;
  bottom: 2px;
  font-size: 14px ;
}
.mobile .mobile-top .icon-signal {
  position: absolute;
  left: 15px;
  bottom: 2px;
  font-size: 16px;
}
.mobile.ipx .mobile-top .icon-wifi {
  right: 35px;
  left: auto;
}
.mobile.ipx .mobile-top .icon-signal {
  right: 53px;
  left: auto;
}
.mobile.ipx .mobile-top .carrier {
  display: block;
  left: 22px;
}
.mobile.ipx .mobile-top .bangs {
  display: block;
}
.mobile.ipx .mobile-top .time {
  display: none;
}
.mobile.ipx .ipx-transverse {
  display: block;
}
.mobile .mobile-header {
  height: 60px;
  border-radius: 42px 42px 0 0;
  overflow: hidden;
  margin-top: -1px;
}
.mobile .mobile-header .time {
  width: 40px;
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 3px;
  margin-left: -20px;
  text-align: center;
  color: black;
}
.mobile .mobile-header .carrier {
  color: black;
  font-size: 12px;
  position: absolute;
  left: 33px;
  bottom: 3px;
}
.mobile .mobile-header .icon-signal,
.mobile .mobile-header .icon-wifi,
.mobile .mobile-header .icon-battery {
  color: #000;
}
.mobile .mobile-header .battery::before {
  font-size: 16px;
  content: "\e604";
}
.mobile .mobile-header .signal::before {
  content: "\e61f";
}
.mobile .mobile-header .wifi::before {
  content: "\e606";
}
.mobile .mobile-header .bangs {
  background-color: black;
  border-radius: 0 0 15px 15px;
  width: 60%;
  height: 20px;
  position: absolute;
  margin-left: -30%;
  left: 50%;
  top: 0;
  display: none;
}
.mobile .mobile-nav-bar {
  height: 40px;
  padding: 12px 10px;
  position: relative;
  box-sizing: border-box;
}
.mobile .mobile-nav-bar .title {
  text-align: center;
  color: #000;
}
.mobile .mobile-nav-bar .wechat-handle {
  width: 65px;
  height: 25px;
  border-radius: 27px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 8px;
  right: 12px;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.mobile .mobile-nav-bar .wechat-handle .icon-more,
.mobile .mobile-nav-bar .wechat-handle .icon-wechat-close {
  cursor: pointer;
  width: 25px;
  color: #000;
}
.mobile .mobile-nav-bar .wechat-handle .icon-more {
  margin-top: -2px;
  transform: scale(0.5);
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.mobile .mobile-nav-bar .wechat-handle .wechat-division {
  display: inline-block;
  min-width: 1px;
  height: 17.2px;
  background: rgba(255, 255, 255, 0.25);
  background: rgba(0, 0, 0, 0.15);
}
.mobile .wechat-more-cover {
  position: absolute;
  overflow: hidden;
  border-radius: 30px;
  left: 0;
  top: -2px;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
  display: none;
  opacity: 0;
  z-index: 999;
}
.mobile .wechat-more-cover .wechat-more-box {
  position: absolute;
  left: 0;
  bottom: -500px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: #eeeeee;
  transition: bottom 0.2s ease;
}
.mobile .wechat-more-cover .wechat-more-box .wechat-more-ability {
  display: flex;
  padding: 20px;
  margin-bottom: 50px;
}
.mobile .wechat-more-cover .wechat-more-box .wechat-more-ability li {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  color: #999;
  cursor: pointer;
  line-height: 16px;
  list-style: none;
}
.mobile .wechat-more-cover .wechat-more-box .wechat-more-ability li i {
  display: block;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 auto;
  line-height: 40px;
  margin-bottom: 5px;
}
.mobile .wechat-more-cover .wechat-more-box .close {
  border: none;
  width: 100%;
  background: white;
  height: 55px;
  color: #666;
  cursor: pointer;
}
.mobile .wechat-more-cover.wechat-more-show {
  opacity: 1;
}
.mobile .wechat-more-cover.wechat-more-show .wechat-more-box {
  bottom: 0;
}
.mobile .mobile-body {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 60px;
}
.mobile .mobile-body .iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
}
.mobile.wechat .wechat-handle {
  display: flex;
}
.mobile .page-container {
  position: absolute;
  left: 0;
  top: -2px;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  z-index: 1000;
  display: block;
  overflow: hidden;
  display: none;
}
.mobile .page-container > .page {
  position: absolute;
  top: 20px;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
.mobile .page-container > .page .header {
  height: 40px;
  padding: 12px 10px;
  position: relative;
  box-sizing: border-box;
  background: white;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.mobile .page-container > .page .header .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  color: #666;
}
.mobile .page-container > .page .header .title {
  font-size: 14px;
  text-align: center;
  color: #333;
}
.mobile .page-container > .page .body {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 0;
}
.mobile .page-container.show-page > .page {
  left: 0;
}
.mobile .page-container.show-page > .page .header {
  opacity: 1;
}
.mobile .mobile-help {
  padding: 20px;
}
.mobile .mobile-help > h3 {
  color: #333;
  font-size: 18px;
  margin: 0;
}
.mobile .mobile-help > p {
  margin: 10px 0;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
body {
  font-size: 14px;
  letter-spacing: 0.2px;
}
li {
  list-style: none;
}
.contrary {
  transform: rotate(180deg);
}
@-webkit-keyframes twinkle {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes twinkle {
  0% {
    opacity: 1;
    display: block;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.cursor {
  width: 2px;
  height: 10px;
  display: inline-block;
  background: #666;
  -webkit-animation: twinkle 1s infinite steps(1, start);
          animation: twinkle 1s infinite steps(1, start);
}
.termin {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
  background-color: #161819;
  border-radius: 8px;
}
.termin .win-body {
  padding: 10px;
  font-size: 12px;
  color: #999;
  line-height: 18px;
}
.termin .win-body .code-line {
  word-wrap: break-word;
  word-break: break-all;
}
.termin .win-body .termin-home {
  color: #12c2e0;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  margin: 0 6px;
}
.termin .win-body .instruct {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 7px;
}
.termin .win-body .instruct::before {
  color: #83c578;
  font-weight: bold;
  content: "\e602";
  font-size: 12px;
}

.dir-tree .tree-treenode {
  font-size: 12px;
  color: #c5c5c5;
  padding: 0 10px;
  display: flex;
  height: 24px;
  line-height: 24px;
  align-items: flex-start;
  outline: none;
  transition: all 0.2s;
  cursor: pointer;
  opacity: 1;
}
.dir-tree .tree-treenode.hide {
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.dir-tree .tree-treenode:hover {
  background-color: #3e3e3e;
}
.dir-tree .tree-treenode .tree-unit,
.dir-tree .tree-treenode .tree-unit-border-left,
.dir-tree .tree-treenode .tree-unit-border-center,
.dir-tree .tree-treenode .tree-unit-border-bottom {
  position: relative;
  display: inline-block;
  min-width: 15px;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.dir-tree .tree-treenode .tree-unit-border-left::before,
.dir-tree .tree-treenode .tree-unit-border-center::before,
.dir-tree .tree-treenode .tree-unit-border-center::after,
.dir-tree .tree-treenode .tree-unit-border-bottom::before,
.dir-tree .tree-treenode .tree-unit-border-bottom::after {
  position: absolute;
  content: "";
  background: #c5c5c5;
}
.dir-tree .tree-treenode .tree-title {
  vertical-align: top;
  position: relative;
  display: inline-block;
  line-height: 24px;
}
.dir-tree .tree-treenode .tree-title img {
  width: 15px;
  vertical-align: text-top;
}
.dir-tree .tree-treenode .tree-remark {
  font-size: 12px;
  color: #ccc;
}
.dir-tree .tree-treenode .tree-remark::before {
  content: "#";
}
.dir-tree .tree-treenode.open .tree-unit .icon-xiangyou {
  transform: scale(0.9) rotate(90deg);
}
.dir-tree .tree-treenode .tree-unit i {
  cursor: pointer;
}
.dir-tree .tree-treenode .tree-unit .icon-xiangyou {
  transition: all 0.2s;
  transform: scale(0.9);
  font-size: 12px;
  display: inline-block;
}
.dir-tree .tree-treenode .tree-unit-border-left::before {
  top: 0px;
  left: 5px;
  bottom: 0;
  width: 1px;
}
.dir-tree .tree-treenode .tree-unit-border-center::before {
  top: 0px;
  left: 5px;
  bottom: 0;
  width: 1px;
}
.dir-tree .tree-treenode .tree-unit-border-center::after {
  width: 10px;
  height: 1px;
  top: 50%;
  left: 6px;
}
.dir-tree .tree-treenode .tree-unit-border-bottom::before {
  top: 0px;
  left: 5px;
  height: 12px;
  width: 1px;
}
.dir-tree .tree-treenode .tree-unit-border-bottom::after {
  top: 50%;
  left: 5px;
  height: 1px;
  width: 10px;
}

